@font-face {
  font-family: 'Avenir';
  font-style:  normal;
  font-weight: 400;
  src: url("../../static/fonts/avenirltstd-medium-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Avenir';
  font-style:  normal;
  font-weight: 600;
  src: url("../../static/fonts/avenirltstd-medium-webfont.woff") format("woff");
}

@font-face {
  font-family: 'Avenir';
  font-style:  normal;
  font-weight: 700;
  src: url("../../static/fonts/avenirltstd-heavy-webfont.woff") format("woff");
}


@font-face {
  font-family: 'Avenir';
  font-style:  normal;
  font-weight: 900;
  src: url("../../static/fonts/avenirltstd-black-webfont.woff") format("woff");
}
